@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h2>Our Happy Clients!</h2>

@if (@Model.Count == 0)
{
  <h3>No Clients to show.</h3>
}

@foreach (Client client in Model)
{
 <li>@client.ClientName</li> 
}


<p>@Html.ActionLink("See all stylists", "Index", "Stylist")</p>
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>