@{
  Layout = "_Layout";
}

<h2> Welcome to Eau Claire's Salon</h2>
<hr />

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Phabio.jpg">
      <img src="C:\Users\tmcdo\OneDrive\Desktop\Eau_Claire_Salon.Solution\HairSalon\wwwroot\assets\images\Phabio.jpg" alt="Phabio Adonis">
    </a>
    <div class="desc">Phabio Adonis: Beard Sculptor Prodigy</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Phagan.jpg">
      <img src="C:\Users\tmcdo\OneDrive\Desktop\Eau_Claire_Salon.Solution\HairSalon\wwwroot\assets\images\Phagan.jpg" alt="Phagan Sobotke">
    </a>
    <div class="desc">Phagan Sobotke: Kid's Hair Expert</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Phantano.jpg">
      <img src="C:\Users\tmcdo\OneDrive\Desktop\Eau_Claire_Salon.Solution\HairSalon\wwwroot\assets\images\Phantano.jpg" alt="Phantano Castilliogne">
    </a>
    <div class="desc">Phantano Castilliogne: Men's Fashionista Supreme</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Phelicity.jpg">
      <img src="C:\Users\tmcdo\OneDrive\Desktop\Eau_Claire_Salon.Solution\HairSalon\wwwroot\assets\images\Phelicity.jpg" alt="Phelicity Mars">
    </a>
    <div class="desc">Phelicity Mars: EGOT Winner, but for Hair!</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Phoebe.jpg">
      <img src="C:\Users\tmcdo\OneDrive\Desktop\Eau_Claire_Salon.Solution\HairSalon\wwwroot\assets\images\Phelicity.jpg" alt="Phoebe Elusive">
    </a>
    <div class="desc">Pheobe Elusive: Trendsetting, Jetsetting, Hairdressing</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="Phrank.jpg">
      <img src="C:\Users\tmcdo\OneDrive\Desktop\Eau_Claire_Salon.Solution\HairSalon\wwwroot\assets\images\Phelicity.jpg" alt="Phrank De Neary">
    </a>
    <div class="desc">Phrank De Neary: The Gentlest Hands in North America</div>
  </div>
</div>

<div class="clearfix"></div>


<br>

<p>@Html.ActionLink("See all stylists", "Index", "Stylist")</p>